body{
    background-color: khaki;
    text-align: center;
}
h1{
    font-style: italic;
    color: goldenrod;
    font-size: larger;
}
h2{
    color: goldenrod;
    font-weight: 200;
}
h3{
    color: goldenrod;
    font-weight: 200;
}
.chloe {
    width: 10%;
}
.livros {
    width: 10%;
}
.lista{
    text-align: left;
    color: goldenrod;
}
.pizza{
    color: goldenrod;
}
