body{
 background-color: coral;
 text-align: center;
}
h1 {
    font-style: italic;
    color: sandybrown;
    font-size: larger;
}
h2 {
    color: sandybrown;
    font-weight: 200;
}
h3 {
    color: sandybrown;
    font-weight: 200;
}

.imagem {

}
.lista {
    text-align: left;
    color: sandybrown;
}
.pizza {
    color: sandybrown;
}